@import service.UserProvider
@(userProvider: UserProvider, changeForm: Form[controllers.Account.PasswordChange])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(userProvider, Messages("songs.change.password.title")) {

	<h1>@Messages("songs.change.password.title")</h1>
	<div class="col-xs-6 col-md-4">
		@form(routes.Account.doChangePassword, 'class -> "form-inline", 'role -> "form") {

		   @if(changeForm.hasGlobalErrors) {
			<p class="alert alert-danger">
			  @changeForm.globalError.message
			</p>
		   }

		   @_passwordPartial(changeForm)

		<button type="submit" class="btn btn-default">@Messages("songs.change.password.cta")</button>
		}
	</div>
}
